.whole-register{
		height: 92vh;
		background-image: linear-gradient(
			to bottom right,
			#4affde 0%, #5b9dff 40%, #d06bff 60%, #ff34d2 100%
		);
		background-size: 200% 200%;
		animation: movingGradient 5s linear infinite alternate;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	@keyframes movingGradient{
		from{
			background-position: 0% 0%;
		}
		to{
			background-position: 100% 100%;
		}
	}
	.register-div{
		width: 450px;
		height: 90%;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 0 4px 8px rgba(0,0,0,0.07);
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.logo-div{
		height: 100px;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #002F34;
	}
	#logo2{
			font-family: 'Stick No Bills', sans-serif;
			color: #24E5DB;
			font-size: xx-large;
			font-weight: bold;
			text-decoration: none;
		}
	#register-text{
		font-size: x-large;
		font-weight: bold;
	}
	.inputs-div{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	label{
		margin-top: 0.5rem;
		align-self: flex-start;
		font-size: larger;
	}
	#inputt{
		width: 300px;
		height: 40px;
		background-color: #f2f2f2;
		border-radius: 3px;
		border: none;
		margin-bottom: 0.5rem;
		font-size: large;
		padding-left: 1rem;
	}
	#register-button{
		width: 320px;
		height: 40px;
		font-size: large;
		font-weight: bold;
		margin-top: 0.5rem;
		background-color: #002F34;
		color: #fff;
		border-radius: 3px;
		cursor: pointer;
		transition: 0.4s ease-in-out;
	}
	#register-button:hover{
		background-color: #00181b;
	}
	.no-account-txt{
		margin-top: 1rem;
		
	}
	#pp{
		font-size: medium;
		font-weight: bold;
	}
	#errorrs{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 0.5rem;
	}
	#errorr{
		color: red; 
		font-size:large;
		margin-bottom: 1rem;
		font-weight: bold;
	}