.products{
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.start-text{
			width: 80%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}
		.start-text p{
			font-size: large;
		}
		.product{
			display: flex;
			justify-content: flex-start;
			height: 200px;
			width: 80%;
			background-color: #fff;
			box-shadow: 0 0 5px #ccc;
			margin-bottom: 2rem;
			border-radius: 4px;
		}
		.img-div{
			height: 100%;
			width: 200px;
		}
		#imggg{
			height: 100%;
			width: 100%;
			border-radius: 4px;
		}
		.title-div{
			margin-left: 3rem;
			width: 70%;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
		}
		#title{
			font-size: large;
			font-weight: bold;
			margin-top: 1.5rem;
			color: black;
			text-decoration: none;
		}
		#localization{
			margin-top: auto;
			margin-bottom: 2rem;
		}
		.price-div p{
			font-size: large;
		}
		.price-div{
			width: auto;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			margin-right: 1rem;
			margin-top: 0.5rem;
		}
		
		.favourite{
			margin-left: auto;
			font-size: 35px;
			border-radius: 50%;
			padding: 0.6rem;
			box-shadow: 0 0 5px #ccc;
			transition: 0.3s ease-in-out;
			margin-top: auto;
			margin-bottom: 1rem;
		}
		.favourite:hover{
			background-color: #e5e5e5;
			box-shadow: none;
		}
		#empty{
			width: 20%;
			height: 20%;
			margin-top: 3rem;
		}
		#txtt{
			font-size: x-large;
			font-weight: bold;
		}
