.search-part{
			background-color: #F2F4F5;
			height: 150px;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.whole-search{
			height: 80px;
			padding: 0.5rem 0 0.5rem 0.5rem;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #fff;
		}
		.left-search, .center-search, .right-search{
			display: flex;
			justify-content: center;
			align-items: center;
			margin-left: 0.5rem;
		}
		.selection{
			font-size: larger;
			height: 40px;
			border: none;
			margin-left: 0.3rem;
			margin-right: 0.3rem;
			color: #000;
			max-height: 200px;
			overflow-y: scroll;
			background-color: #fff;
		}
		.selection option{
			background-color: #fff;
		}
		.value{
			color: #002F34;
		}
		.value:hover{
			background-color: #002F34;
			color: #fff;
		}
		input[type=text]{
			margin-left: 0.5rem;
			border: none;
			outline: none;
			font-size: larger;
			font-weight: bold;
			color: #000;
		}
		#search-btn{
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: larger;
			font-weight: bold;
			height: 94px;
			background-color: #fff;
			border: none;
			cursor: pointer;
		}
		#search-btn:hover{
			color: #fff;
			background-color: #002F34;
			transition-duration: 0.3s;	
			transition-timing-function: ease;
		}
		#btn-text{
			margin-right: 0.2rem;
		}
		#main-src{
			height: 40px;
			width: 400px;
		}
		#city-search{
			height: 40px;
			width: 250px;
		}
		::placeholder{
			color: #000;
			opacity: 0.8;
		}
		#category-image{
			border-radius: 50%;
			width: 100px;
			height: 100px;
			object-fit: contain;
		}
		#cat-text{
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #fff;
		}
		#category-text{
			font-size: xx-large;
			font-weight: bold;
		}
		#text-1{
			font-weight: bold;
			padding: 0 0.3rem;
			transition-duration: 0.2s;
		}
		#text-1:hover{
			background-color: #002F34;
			color: #fff;
		}
		.categories{
			display: flex;
			justify-content: center;
			align-items: center;
			margin: auto;
			padding-bottom: 2rem;
			background-color: #fff;
		}
		.category{
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			margin: auto 1rem auto 1rem;
		}
		a{
			text-decoration: none;
			color: #002F34;
		}
		.an-text{
			height: 100px;
			background-color: #F2F4F5;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		#an-text2{
			font-size: xx-large;
			font-weight: bold;
		}

		.anunturi{
			height: auto;
			display: grid;
			width: 100%;
			grid-template-columns: repeat(3, auto);
			grid-gap: 5rem;
			justify-content: center;
			margin-top: 2rem;
			
		}
		.anunt{
			width: 350px;
			height: auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			border-radius: 3px;
			box-shadow: 0 0 5px #ccc;
			background-color: #fff;
		}
		#anunt-img{
			width: 350px;
			height: 350px;
			object-fit:cover;
			border-radius: 3px;
			transition: 0.3s ease-in-out;
		}
		#anunt-img:hover{
			filter: brightness(70%);
		}
		#anunt-title{
			font-size: large;
			font-weight: bold;
			align-self: flex-start;
			margin: 1rem 2rem;
			text-decoration: none;
			color: #000;
		}
		#anunt-country{
			color: #A9A9A9;
			margin: 0 auto 1rem 2rem;
		}
		.price-and-heart{
			display: flex;
			align-items: flex-start;
			justify-content: center;
		}
		.favourite{
			align-self: flex-end;
			margin-left: auto;
			font-size: 25px;
			border-radius: 50%;
			padding: 0.6rem;
			box-shadow: 0 0 5px #ccc;
			transition: 0.3s ease-in-out;
			margin-right: 1rem;
			margin-bottom: 2rem;			
		}
		.favourite:hover{
			background-color: #e5e5e5;
			box-shadow: none;
		}

		#anunt-price{
			margin: 1rem auto 1rem 2rem;
			font-weight: bold;
		}
		@media only screen and (max-width: 1200px){
			.categories{
				display: grid;
				grid-template-columns: repeat(2, auto);
			}
			.anunturi{
				display: grid;
				grid-template-columns: repeat(2, auto);
				justify-content: center;
				align-items: center;
				margin: auto;
				grid-gap: 2rem;

			}
		}
		@media only screen and (max-width: 768px){
			.categories{
				display: flex;
				flex-direction: column;
			}
			.anunturi{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin: auto;
			}
		}