.whole-after{
			background-image: linear-gradient(
			to bottom right,
			#4affde 0%, #5b9dff 40%, #d06bff 60%, #ff34d2 100%
			);
			background-size: 200% 200%;
			animation: movingGradient 5s linear infinite alternate;
			height: 95vh;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		@keyframes movingGradient{
		from{
			background-position: 0% 0%;
		}
		to{
			background-position: 100% 100%;
		}
	}
		.profile-infos{
			background-color: #fff;
			border-radius: 3px;
			width: 400px;
		}
		.text-info{
			background-color: #002F34;
			color: #fff;
			margin: 0;
			padding: 0;
			border-radius: 3px;
			height: 100px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		#p-info{
			font-size: larger;
			font-weight: bold;
		}
		.email-and-user{
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-top: 1rem;
			margin-left: 2rem;
		}
		.e-info, .u-info{
			font-size: large;
		}
		#emaill, #usernamee{
			font-size: large;
		}
		.last-first-phone{
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-top: 1rem;
			margin-left: 2rem;
		}
		label{
			font-weight: bold;
			font-size: large;
		}
		#inputs{
			width: 300px;
			height: 40px;
			background-color: #f2f2f2;
			border-radius: 3px;
			border: none;
			margin-bottom: 1rem;
			font-size: large;
			padding-left: 1rem;
		}
		#save-button{
			width: 320px;
			height: 40px;
			font-size: large;
			font-weight: bold;
			margin-top: 1rem;
			margin-bottom: 1rem;
			background-color: #002F34;
			color: #fff;
			border-radius: 3px;
		}
