{% extends 'products/main.html' %}
{% block content %}
	<style type="text/css">
		.whole-page{
			height: 80vh;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.div_3{
			height: 60%;
			width: 70%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background-color: #fff;
			box-shadow: 0 0 5px #ccc;
		}
		.div_3 p:nth-child(1){
			font-size: xx-large;
			font-weight: bolder;
			margin: 1rem auto;
		}
		.div_3 p{
			margin: 1rem auto;
		}
		button{
			width: 180px;
			height: 40px;
			margin: auto;
			font-size: larger;
			background-color: #002F34;
			color: #fff;
			border-radius: 3px;
			cursor: pointer;
			transition: 0.5s ease-in-out;
			margin: 2rem auto;
		}
		button:hover{
			background-color: #00181b;
		}
		i{
			font-size: 30px;
			margin-top: auto;
			margin-bottom: auto;
		}
	</style>
	<div class="whole-page">
		<div class="div_3">
			<p>Password Reset Complete</p>
			<p>
				Your password has been set. You can go ahead and log in now!
			</p>
			<a href="{% url 'account:login' %}">
				<button>
					<i class="fa fa-sign-in" aria-hidden="true"></i>
					Log in
				</button>
			</a>
		</div>
	</div>
{% endblock content %}